html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

form {
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
    max-width: 400px; /* Adjust based on your preference */
    width: 100%;
    align-content:center
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    button[type="submit"]:hover {
        background-color: #45a049;
    }

.radio-inline {
    display: inline-block;
    margin-right: 10px; /* Adjust spacing between the radio buttons */
}

table {
    width: 100%;
    border-collapse: collapse; /* Collapses the border to make it look like a single line */
}

th, td {
    border: 1px solid black; /* Adds border to table headers and cells */
    padding: 8px; /* Adds space inside the cells */
    text-align: left; /* Aligns text to the left */
}

th {
    background-color: #f2f2f2; /* Adds a background color to table headers */
}

tr:nth-child(even) {
    background-color: #f9f9f9; /* Adds a zebra-stripe effect to the table rows */
}


