@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Movie
<h2>Confirm Deletion</h2>
<h3>You want to delete the movie: "@Model.Title (@Model.Year)" by "@Model.Director" </h3>
<form method="post">
    <input type="hidden" asp-for="MovieId" />
    <button type="submit" style="background-color: dimgrey;border: 2px solid dimgray;">Delete</button>
    <a class="btn btn-info" asp-controller="Home" asp-action="DisplayCollection" style="background-color: white;border: 2px solid black;">Cancel</a>
</form>