@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Mission06_Zhang.Models.Movie

<form method="post">
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="text-danger">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>
    }

    @* <select asp-for="CategoryId">
        <option value="">Select a Category</option>
        @foreach (Model in ViewBag.Categories)
        {
            <option value="@c.CategoryId">@c.CategoryName</option>
        }
    </select> *@
    <br />

    <label asp-for="Title">Title</label>
    <input asp-for="Title" />
    <br />

    <label asp-for="Year">Year</label>
    <input asp-for="Year" />
    <br />

    <label asp-for="Director">Director</label>
    <input asp-for="Director" />
    <br />

    <label asp-for="Rating">Rating</label>
    <select asp-for="Rating" class="form-control">
        <option>G</option>
        <option>PG</option>
        <option>PG-13</option>
        <option>R</option>
    </select>
    <br /> 

    <label asp-for="Edited">Edited</label>
    <label asp-for="Edited" class="radio-inline">
        <input type="radio" asp-for="Edited" value="Yes"> Yes
    </label>
    <label asp-for="Edited" class="radio-inline">
        <input type="radio" asp-for="Edited" value="No"> No
    </label>

    <br />
    <label asp-for="Lent">Lent To</label>
    <input asp-for="Lent" />
    <br />

    <label asp-for="Note">Notes</label>
    <input type="text" asp-for="Note" maxlength="25"/>
    <br />

    <button type="submit">Submit</button>

</form>


